.menu-back{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20%;
    width: 75%;
    font-style: normal;
}

.section{
    color: #1F2937;
}

a{
    color: #1F2937;
    text-decoration: none;
}