.contact_menu{
    background-color: #2658FF;
    border-radius: 10px;
    border-color: #0024FE;
    border-width: 1px;
    color: #F9FAFB;
    font-weight: bold;
    padding: 1%;
    border-style: solid;
    text-align: center;
}

.btn-services{
    background-color: #2658FF;
    border-radius: 10px;
    border-color: #0024FE;
    border-width: 1px;
    color: #F9FAFB;
    font-weight: bold;
    padding: 2%;
    border-style: solid;
    text-align: center;
}