.sectionservices{
    display: flex;
    gap: 100px;
    justify-content: space-between;
    justify-items: center;
    margin-bottom: 5%;

      flex-wrap: wrap; /* permet de passer à la ligne */
  gap: 40px; /* tu peux ajuster selon ton besoin */
  justify-content: center; /* pour centrer les blocs */
  }

.service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #ffffff3e;;
    padding: 2%;
    border-radius: 20px;
    text-align: center;
    flex: 1 1 calc(33.333% - 40px); /* 3 par ligne, avec marge */
  max-width: calc(100% - 40px); /* évite que ça dépasse */
  }